/* importing my personal CSS rules to 'reset' the browsers default styling */
@import url('./reset.css');

:root {
  /*Colors*/
  --cyan-600: hsl(192 37 48);
  --cyan-400: #71c0d4;
  --cyan-300: hsl(192 90 77);

  --purple-600: hsl(268 34 53);
  --purple-400: #b18bdd;
  --purple-300: hsl(268 100 86);

  --slate-900: hsl(240 21 20);
  --slate-600: hsl(240 10 57);
  --slate-300: hsl(240 18 85);

  --white: hsl(0 0 98);

  /*Typography*/
  --default-page-font: 'Red Hat Display', sans-serif;

  --heading-line-height: 110%;
  --h1-font-size: 2.5rem; /*40px*/
  --h1-font-weight: 900;

  --h2-font-size: 2rem; /*32px*/
  --h2-font-weight: 900;

  --h3-font-size: 0.75rem; /*12px*/
  --h2-font-weight: 600;
  --h3-letter-spacing: 0.25rem;

  --text-font-size: 1rem; /*16px*/
  --text-font-weight: 600;

  --button-font-size: 1rem;
  --button-font-weight: 900;
}

body {
  font-family: var(--default-page-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Header (logo) section */
.header {
  padding: 3rem 5rem 0;
}

.header__logo {
  margin: auto;
}

/* HERO SECTION */
.hero {
  padding: 4rem 2rem 2rem 2rem;
  overflow: hidden;
}

.hero__img-wrap--desktop {
  display: none;
}

.hero__img-wrap {
  position: relative;
  padding-bottom: 3rem;
}

.hero__img {
  position: relative;
  left: -20%;
  max-width: none; /*overrides img rules from reset.css. This will specify that there should be no maxiumum width limit for this element*/
  width: 140%;
  /* height: auto; */
  /* object-fit: cover; */
}

.hero__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1.5rem;
}

.hero__heading {
  color: var(--slate-900);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: 110%;
}

.hero__text {
  font-size: var(--text-font-size);
  line-height: 150%;
  color: var(--slate-600);
}

.hero__button-wrap {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: 2em;
  color: var(--white);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 150%;
  padding: 1rem 2.5rem;
  transition: background-color 0.8s ease;
}

.button--cyan {
  background-color: var(--cyan-600);
}

.button--cyan:hover {
  background-color: var(--cyan-400);
}

.button--cyan .button__highlight {
  color: var(--cyan-300);
}

.button--purple {
  background-color: var(--purple-600);
}

.button--purple:hover {
  background-color: var(--purple-400);
}

/* FEATURES SECTION */
.features {
  border: 1px solid blue;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.number__line {
  width: 0;
  height: 5rem; /*80px*/
  border-right: 1px solid var(--slate-300);
  margin: auto;
}

.number__circle {
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: auto;
}

.number__text {
  color: var(--slate-600);
  line-height: 150%;
  font-weight: var(--text-font-weight);
}

.features__picture-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.features__img {
  border-radius: 8px;
}
